<div class="d-flex side">
    <!-- Sidebar -->
    <nav class="sidebar text-dark flex-column p-3">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" routerLink="/admin/add-project" >Add-Project</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>