body {
  font-family: Arial, sans-serif;
}
.side{
  margin-top: 130px;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
}

.nav-link {
  &:hover {
    background-color: #004b4e;
    border-radius: 5px;
    color: #fff;
  }
}

.content {
  background-color: #f8f9fa;
  min-height: 100vh;
}
